<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHomePage</title>
</head>
<body>
    <h1 style="text-align: center">THIS IS ARMSTRONG NUMBER API HOMEPAGE, WELCOME TO OUR WEB PAGE!!</h1>
    <br>
    <br>
    <h3 style="text-align: center">Kindly go to the below url to check if your provided number is armstrong number or not:</h3>
    <h3 style="text-align: center">"http://127.0.0.1:5000/armstrongnumber/(--provide your number here--)"</h3>
</body>
</html>